[submodule "home/oh-my-zsh"]
	path = home/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "home/fzf-git.sh"]
	path = home/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
	branch = main
